<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggo</title>
    <!-- <link rel="stylesheet" href="SignIn_facebook.css">
    <link rel="stylesheet" href="LogIn_facebook.html"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="stylesheets/Sign_In_style.css">
</head>
<body class="bg-zinc-900 text-white">
    <header>
        <nav>
            <div>
                <!-- <img src="/public/images/uploads /logo.jpg" alt="logo.png"> -->
            </div>

        </nav>
    </header>
    <div class="container ">


        <div class="section1 ">
            <div class="title text-5xl">
                <a href="/"><h1 class="heading">bloggo</h1></a>
            </div>
            <div class="about text-blue-500">
                <h4 class="para">create your own blogs and edit them </h4>
            </div>
        </div>
        
        <div class="section-2">
                <h1>Create New Account</h1>
    
                <div class="form_div">
    
                    <form action="/register" method="post">
                        <input type="text" class="input-group" required placeholder="UserName" name="username" >
                        
                        <input type="text" class="input-group" required placeholder=" Name" name="name">
                        
                        <input type="number" class="input-group" required placeholder=" age" name="age">
                        
                        <input type="email" class="input-group" required  name="email" placeholder=" Enter a valid E-mail ID">
                        
                        <input type="password" class="input-group" name="password" required placeholder=" Create Password">
                    
                        <br>
                        <br>
                        <div class="terms">
                            By clicking the Create Account, you agree to our <a href="#">Terms</a>,
                            <a href="#">Data Policy</a> and <a href="#">Cookie Policy.</a> You
                            may recieve SMS notification from us and can opt out at any time.
                          </div>
                          <div class="section2">
                            <input type="submit" value="Create Account" />
                          </div>
                          <br>
                          <hr>
        
                    </form>
                </div>
                <p class="text-zinc-500">Already have an account!</p>
                <div class="login-btn">
                    <!-- <br -->
                    <a href="/login"><input type="submit" name="login" class="login-butn" value="LogIn"></a>
                </div>
    
            </div>
            

    </div>
    
</body>
</html>